<ion-header>
  <ion-toolbar>
    <ion-title>
      Cheat Store
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/logo.jpg" alt="" />
      <ion-card-header>
        <ion-card-title>Welcome to Cheat Store</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Bear Store, but owner will Cheat, becareful</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Total Purchase Amount</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-icon slot="start" color="medium" name="logo-USD"></ion-icon>
        <ion-label>{{totalPrice()}}</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
